<a href="https://colab.research.google.com/github/mlaricobar/Research/blob/master/Notebook%20-%2000.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

from google.colab import drive

In [0]:
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
%cd /gdrive/'My Drive'/Work/Consultoria

/gdrive/My Drive/Work/Consultoria

In [0]:
!ls -l

total 7
drwx------ 2 root root 4096 Jun 18 15:06 Data
-rw------- 1 root root 2366 Jun 18 15:13 EDA.ipynb

In [0]:
df = pd.read_csv("Data/df_base_final.csv")

In [0]:
df.head().T

                                                                   0  ...                                         4
NExp                                                          197924  ...                                    197962
NOMBRE                                                  YULY ANTONIA  ...                          ANAIS PTOMARENDI
APELLIDOPATERNO                                             CUSTODIO  ...                                    VILLAR
APELLIDOMATERNO                                               QUISPE  ...                                     PLAZA
DNI                                                         73543916  ...                                  74588636
FecNac                                                       3/25/98  ...                                   12/8/97
Sexo                                                        FEMENINO  ...                                  FEMENINO
BECA                                                         BECA 18  ...                                   BECA 18
CONVOCATORIA                                                    2016  ...                                      2016
MODALIDAD                                                  ORDINARIA  ...                                 ORDINARIA
TipodeGestion                                                PRIVADA  ...                                   PRIVADA
Tipo                     Instituto de EducaciÑn Superior TecnolÑgico  ...                               Universidad
Institucion                    INSTITUTO DE FORMACION BANCARIA - IFB  ...  PONTIFICIA UNIVERSIDAD CATOLICA DEL PERU
Carrera                   ADMINISTRACION DE NEGOCIOS INTERNACIONALES  ...                      INGENIERIA GEOLOGICA
RegionPostulacion                                               LIMA  ...                                 CAJAMARCA
Region_Destino                                                  LIMA  ...                                      LIMA
Sede                                              SEDE INDEPENDENCIA  ...                           SEDE SAN MIGUEL
estadol_2016_I                                                     0  ...                                         0
estadol_2016_II                                                    0  ...                                         0
estadol_2017_I                                                     1  ...                                         1
estadol_2017_II                                                    1  ...                                         1
estadol_2018_I                                                     1  ...                                         1
estadol_2018_II                                                    1  ...                                         1
actividad_inicial                                              20171  ...                                     20171
ESTADO_PADRON                                                 ACTIVO  ...                                    ACTIVO
CONDICION_PADRON                                             REGULAR  ...                                   REGULAR
SITUACION_PADRON                                                   -  ...                                         -
ORIGEN                                                      PREGRADO  ...                                  PREGRADO
FecPostulacion                                               43:29.4  ...                                   13:32.4
Puntaje_Examen_Nacional                                           43  ...                                        82
Regiondeprocedencia                                             LIMA  ...                                 CAJAMARCA
Provinciadeprocedencia                                          LIMA  ...                                      JAEN
Distritodeprocedencia                                     CARABAYLLO  ...                                      JAEN
desercion                                                          0  ...                                         0
ciclos_estudiados                                                  4  ...                                         4
periodos_activos                                                   4  ...                                         4

[36 rows x 5 columns]

In [0]:
df.shape

(3869, 36)

In [0]:
df["desercion"].value_counts(normalize=True, dropna=False) * 100

0    94.72732
1     5.27268
Name: desercion, dtype: float64

In [0]:
df["Regiondeprocedencia"].value_counts(normalize=True, dropna=False) * 100

LIMA             23.804601
PIURA             9.175498
CUSCO             5.867149
JUNIN             5.686224
LAMBAYEQUE        5.169294
CAJAMARCA         5.143448
ANCASH            4.936676
LA LIBERTAD       4.781597
HUANCAVELICA      4.755751
CALLAO            4.109589
APURIMAC          3.799431
AYACUCHO          3.024037
SAN MARTIN        2.894805
LORETO            2.558801
PASCO             2.481261
AMAZONAS          2.377875
HUANUCO           2.171104
PUNO              1.912639
AREQUIPA          1.395709
ICA               1.344017
UCAYALI           0.620315
TACNA             0.594469
TUMBES            0.516929
MADRE DE DIOS     0.387697
MOQUEGUA          0.336004
NaN               0.155079
Name: Regiondeprocedencia, dtype: float64

In [0]:
df.groupby("Regiondeprocedencia", as_index=False).agg({"desercion": "mean"}).sort_values(by="desercion", ascending=False)

   Regiondeprocedencia  desercion
24             UCAYALI   0.291667
16       MADRE DE DIOS   0.133333
18               PASCO   0.104167
10                 ICA   0.096154
20                PUNO   0.081081
0             AMAZONAS   0.076087
14                LIMA   0.068404
6               CALLAO   0.062893
19               PIURA   0.056338
2             APURIMAC   0.054422
4             AYACUCHO   0.051282
23              TUMBES   0.050000
8         HUANCAVELICA   0.043478
22               TACNA   0.043478
13          LAMBAYEQUE   0.040000
7                CUSCO   0.039648
3             AREQUIPA   0.037037
11               JUNIN   0.036364
1               ANCASH   0.031414
15              LORETO   0.030303
9              HUANUCO   0.023810
21          SAN MARTIN   0.017857
12         LA LIBERTAD   0.016216
5            CAJAMARCA   0.005025
17            MOQUEGUA   0.000000